table,th,td
{
    border-color :2px solid black;
}

.bg-container{
    border-radius: 24px;
    background-image: linear-gradient(to top, #061535, #8bc8e6);
}

.bg-container-a{
    border-radius: 48px;
    /*background-image: linear-gradient(to bottom, #a4d4e8, #7cd3ee);*/
}

/*
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 60px;
    padding-left: 60px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/